

.right-container  {
    width: 315px;
    height: 148px;
    border-radius: 22px;
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    margin: 20px;
  }
  
  .right-container-first {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  
  .right-container-first img {
    width: 100px;
    height: 124px;
    margin: 15px;
  }
  
  .right-container-first-h-p h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #FFFFFF;
    margin: 15px 0 0 0 ;
    height: 100px;
  }

  .right-container-votes-number {
    display: flex;
    height: 30px;
    padding: 0 0 15px 0;
  }


  .right-container-votes-number :first-child {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 10px 10px 0;
  }

  .right-container-votes-number :last-child {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

.right-container-first-h-p {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}