
.bottom-container {
    width: 389.06px;
    height: 98.81px;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
    border-radius: 16px;
    margin: 15px;
    display: flex;
    align-items: center;
  }
  
  
.mid-writing {
    width: 104.98;
    height: 25.94;
  }
  
  
  .mid-writing  :first-child {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }
  
  .mid-writing  :last-child {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #7B6F72;
    display: flex; 
    justify-content: flex-start;
    align-items: center;
  }

  .mid-writing  :last-child  h4 {
    margin: 0 10px;
   
  }
  
  .vote {
    width: 88.39px;
    height: 34.58px;
    size: 12px;
    line-height: 18px;
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    border-radius: 50px;
    border: none;
    color: #FFFFFF;
    position: relative;
    left: 100px;
    cursor: pointer;
  }