
.page-container{
  background-color: white;
  height: 100vh;
  color: black;
  display: flex;
}


.container {
 width: 433px;
 height: 987px;
 border-radius: 22px;
 background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;
 margin: 20px;
}

.logo {
  width: 111.16px;
  height: 98.81;
  display: flex;
  justify-content: center;
}


.logo img {
 width: 51px;
 height: 70px;
 margin: 10px;
}


