.right-container-second {
    width: 315px;
    height: 84px;
    background: linear-gradient(274.42deg, #C0C0C0 0%, #7E8082 124.45%);
    border-radius: 22px;
    margin: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .right-container-second img {
  width: 60px;
  height: 70px;
  margin: 25px;
  }
  
  .right-container-first-h-p-second {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .right-container-first-h-p-second h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 15px 0 0 0;
    }
  
    
    .right-container-first-2-p {
      display: flex;
    }

    .right-container-first-2-p  :last-child {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      color: #FFFFFF;
      margin: 10px 10px ;
      }

      .right-container-first-2-p  :first-child {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
        margin: 10px 0;
        }